html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'myryad2';
    src: url(/fonts/myriadpro-light.ttf);
}

@font-face {
    font-family: 'HELVETICA2';
    src:url(/fonts/HelveticaNeueLTPro-Bd.otf)
   
}
@font-face {
    font-family: 'myryad';
    src:url(/fonts/MyriadPro-LightCond.eot) ;
}

@font-face {
    font-family: 'HELVETICA';
    src: url('fonts/HelveticaNeueLTProBdEx.otf');
}

@font-face {
    font-family: myryad3;
    src: url(/fonts/myriadpro-semiboldcond.ttf);
}

@font-face {
    font-family: 'HELVETICA1';
    src: url('fonts/HelveticaNeueLTProLtEx.otf');
    font-weight: bold;
}

body {
    width: 840px; 
    margin-left: auto;
    margin-right: auto;
    font-family: HALVETICA1 sans-serif;
}

header{
    background: linear-gradient(#769814, #b4d948);
    padding: 25px 0 37px 25px;
}

.headerTitle {
    font-size: 40px;
    font-family: HELVETICA1 sans-serif;
    color: white;
}

.headerTitle .lab {
    font-family: HELVETICA sans-serif;
    font-weight: 800;
}

.list {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.list li {
    font-family: HELVETICA1 sans-serif;
}

a {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.list li {
    position: relative;
}

.list li + li::before {
    content: "";
    position: absolute;
    top: 55%;
    left: -35px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(/images/arrow.png);
    background-size: 16px;
    background-repeat: no-repeat;
}

.promo {
    padding: 10px  45px;
    display: flex;
    background-color: #eeeefb;
    justify-content: space-between
}

.promo .article {
    width: 50%;
}

.promo .article img {
    width: 100%;
    height: auto;
}

.slogan {
    width: 50%;
    padding: 40px 8px 30px;
}

.promo h2 {
    margin-left: -70px;
    margin-bottom: 20px;
    font-family: HELVETICA1 sans-serif;
    font-size: 40px;
    font-weight: 100;
}

.promo .large {
    font-family: HELVETICA sans-serif;
    font-weight: 800;
}

.promo h3 { 
    font-family: myryad3 sans-serif;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 2px;
    color: green;
}

.promo p {
    font-family: myryad2 sans-serif;
    font-size:16px ;
    line-height: 18px;
}

.promo p::after {
    content:"";
    background-image: url(/images/arrig.png);
    display: inline-block;
    background-repeat: no-repeat;
    width: 12px;
    height: 8px;
}

.main {
    display: flex;
    padding: 24px 0 0 30px;
}

.main .leftColumn {
    max-height: 280px;
    border-right: #eeeefb solid 2px;
}

.leftColumn h2 {
    margin-bottom: 18px;
    font-size: 25px;
    font-weight: 700;
}

.leftColumn h3 {
    font-family: myryad3 sans-serif;
    font-size:16px ;
    letter-spacing: 2px;
    color: green;
    font-weight: 800;
}

.leftColumn p {
    margin-bottom:14px;
    font-size: 16px;
    line-height: 18px;
    margin-right: 25px;
    font-family: myryad2 sans-serif;
}

.leftColumn p:last-child::after {
    content:"";
    background-image: url(/images/arrig.png);
    display: inline-block;
    background-repeat: no-repeat;
    width: 12px;
    height: 8px;
}

.section {
    margin-left: 30px;
    padding-bottom: 19px;
    margin-bottom: 19px;
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.wrapper .section:first-child {
    border-bottom: #eeeefb 2px solid;
}

.section .picture img {
    width: 180px;
    height: auto;
    margin-right: 25px;
}

.aside .inner {
    font-family: myryad3 sans-serif;
    font-size:16px ;
    letter-spacing: 2px;
    color: green;
    font-weight: 800;
}

.section .aside p {
    font-weight: 14px;
    font-family: myryad2 sans-serif;
}

.subtitle {
    font-size: 25px;
    font-family: myryad2 sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
}

footer {
    margin-top: -22px;
    padding: 40px 0 40px 40px;
    border-top: 7px solid #eeeefb;
}

footer p {
    font-size: 14px;
    font-style: myryad2 sans-serif;
}
